<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuario">
            <h2><span>Usuario</span> {{usuario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome Usuario</span></dt>
                <dd>
                    <span>{{usuario.nomeUsuario}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{usuario.isActive}}</span>
                </dd>
                <dt><span>Tipo Usuario</span></dt>
                <dd>
                    <div *ngIf="usuario.tipoUsuario">
                        <a [routerLink]="['/tipo-usuario', usuario.tipoUsuario?.id, 'view']">{{usuario.tipoUsuario?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuario', usuario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
