<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipoProtocolo">
            <h2><span>Tipo Protocolo</span> {{tipoProtocolo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome Protocolo</span></dt>
                <dd>
                    <span>{{tipoProtocolo.nomeProtocolo}}</span>
                </dd>
                <dt><span>Cod Protocolo</span></dt>
                <dd>
                    <span>{{tipoProtocolo.codProtocolo}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{tipoProtocolo.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tipo-protocolo', tipoProtocolo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
