<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="setor">
            <h2><span>Setor</span> {{setor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome Setor</span></dt>
                <dd>
                    <span>{{setor.nomeSetor}}</span>
                </dd>
                <dt><span>Codigo Setor</span></dt>
                <dd>
                    <span>{{setor.codigoSetor}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{setor.isActive}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/setor', setor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
